/* css reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* logo dan navbar */
nav {
  display: flex;
  background-color: rgb(245, 57, 151);
  justify-content: space-around;
  color: rgb(188, 230, 250);
  height: 50px;
  align-items: center;
}

/* logo */
nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}

/* menu */
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(188, 230, 250);
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
}

nav ul li a:hover {
  color: rgb(8, 2, 61);
  background-color: white;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(188, 230, 250);
  border-radius: 3px;
  transition: all 0.7s;
}

/* humberger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(0, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* agar dapat memposisikan footer */
#container {
  position: relative;
}

/* main page */
#main {
  display: flex;
  flex-direction: column;
}

/* gambar untuk profile */
#main .tittle-page {
  padding: 2rem 0;
}

#main .image-1 {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(240, 238, 238);
  border-radius: 100%;
}

#main .image-profile {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* keseluruhan main */
.jumbotron {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: rgb(245, 171, 208);
}

.jumbotron .tittle-page,
.image-1 {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 0.8rem;
}

/* gambar untuk slideshow */
.image-slideshow {
  display: flex;
  margin: auto;
  width: 1000px;
  height: 480px;
  margin-top: 3rem;
  margin-bottom: 0;
  border: 20px solid white;
  border-radius: 7px;
}

.image-slideshow .img-slideshow {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* button untuk slideshow */
.button-slidesow {
  display: flex;
  flex: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 0.8rem 1rem;
  white-space: nowrap;
}

.button-slideshow button {
  background-color: aqua;
}

/* bagian footer */
#footer {
  display: flex;
  justify-content: center;
  font-size: medium;
  padding: 10px 0px;
  background-color: rgb(245, 57, 151);
  width: 100%;
  color: azure;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer p a {
  color: azure;
  text-decoration: none;
}

/* Responsive break point */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 1px;
    top: 0;
    width: 35%;
    height: 37vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(245, 57, 151);
    z-index: 0;
    transform: translate(100%);
    opacity: 0;
    transition: 0.7s;
  }

  nav ul.slide {
    opacity: 1;
    transform: translate(0);
  }

  nav ul li a {
    font-size: 0.8em;
  }

  svg {
    padding-bottom: 10rem;
  }

  #footer {
    font-size: small;
  }
}
