/* css reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* start style menu */
/* logo dan navbar */
nav {
  display: flex;
  background-color: rgb(245, 57, 151);
  justify-content: space-around;
  color: rgb(188, 230, 250);
  height: 50px;
  align-items: center;
}

/* logo */
nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}

/* menu */
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(188, 230, 250);
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
}

nav ul li a:hover {
  color: rgb(8, 2, 61);
  background-color: white;
}

/* menu tampilan mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(188, 230, 250);
  border-radius: 3px;
  transition: all 0.7s;
}

/* humberger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(0, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
/* end style menu */

/* start style page home */
/* jumbotron */
.main-page-home {
  display: flex;
  flex-direction: column;
}

.jumbotron {
  text-align: center;
  background-color: rgb(245, 171, 208);
}

.image-1 {
  margin: 2rem 0;
  border: solid 5px azure;
  border-radius: 100%;
}
/* end style page home */

/* start style page about */
.main-page-about {
  display: grid;
  width: 80%;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
/* end style page about */

/* start responsive break point */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  /* style menu */
  nav ul {
    width: 50%;
    justify-content: space-evenly;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  /* style menu */
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 1px;
    top: 0;
    width: 35%;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(245, 57, 151);
    z-index: 0;
    transform: translate(100%);
    opacity: 0;
    transition: 0.7s;
  }

  nav ul.slide {
    opacity: 1;
    transform: translate(0);
  }

  nav ul li a {
    font-size: 0.8em;
  }
}
/* end of responsive breakpoint */
